[submodule "india"]
	path = india
	url = https://github.com/MunwarMMR/explore_india
	branch = master
[submodule "sample1"]
	path = sample1
	url = https://github.com/MunwarMMR/sample1
	branch = master
